# GUI
customtkinter>=5.2.0
pillow>=10.0.0
mss>=9.0.0
pytesseract>=0.3.13

# Text-to-Speech / Voice Conversion
TTS>=0.22.0
rvc-python==0.1.5
# Audio / Sound
sounddevice>=0.4.6
numpy==1.22.0
scipy>=1.11.0
keyboard>=0.13.5
pycaw>=20251023

# Deep Learning / GPU
torch
torchvision
torchaudio
transformers==5.3.0
huggingface_hub>=1.7.1
sentencepiece>=0.1.99
sacremoses>=0.0.53
